{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<center>
    <div id="form-container">
        <form action="" method="post">
            {% csrf_token %}
            {{form | crispy}}
            <!--<div id="form-group">
                <div id="login-title">
                login to your account
                </div>
                <br>
                <input id = "username" type="text" name="username" placeholder="username">
                <br>
                <input id = "password" type="password" name="password" placeholder="password">
                <button type="submit"></button>
            </div> -->
            <button type="submit">Login</button>
        </form>
    </div>
    <a href = '{% url 'accounts:signin' %}'> sigin </a>
</center>

</body>
</html>
