{% extends "ticketing/base_page.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>showtime list</title>
{% endblock %}
{% block main_content %}
{% if showtimes %}
<p> there are {{showtimes.length}} showtime(s)</p>
    {%if showtimes%}
    <div class = "form">
        <form method = "get" action = "" name="searchForm" placeholder="enter movie name">
          {{search_form | crispy }}
            <button type = "submit"> search </button>
        </form>
    </div>
        <ul>
        {% for showtime in showtimes %}
            <li>
            <a href="{% url "ticketing:showtime_details" showtime_id=showtime.id %}">
                {{ showtime }}
            </a>
            </li>
        {% endfor %}
        </ul>
    {%endif%}
{% else %}
<p> no showtimes to show </p>
{% endif %}
{% endblock %}
